globalThis.__APP_CONFIG__ = globalThis.__APP_CONFIG__ || {};
globalThis.__APP_CONFIG__.apiBaseUrl = "${API_BASE_URL}";
globalThis.__APP_CONFIG__.firebaseApiKey = "${FIREBASE_WEB_API_KEY}";
globalThis.__APP_CONFIG__.firebaseAuthDomain = "${FIREBASE_WEB_AUTH_DOMAIN}";
globalThis.__APP_CONFIG__.firebaseProjectId = "${FIREBASE_WEB_PROJECT_ID}";
globalThis.__APP_CONFIG__.firebaseStorageBucket = "${FIREBASE_WEB_STORAGE_BUCKET}";
globalThis.__APP_CONFIG__.firebaseMessagingSenderId = "${FIREBASE_WEB_MESSAGING_SENDER_ID}";
globalThis.__APP_CONFIG__.firebaseAppId = "${FIREBASE_WEB_APP_ID}";
globalThis.__APP_CONFIG__.firebaseMeasurementId = "${FIREBASE_WEB_MEASUREMENT_ID}";
globalThis.__APP_CONFIG__.firebaseVapidKey = "${FIREBASE_WEB_VAPID_KEY}";
